.header {
	display: flex;
	justify-content: flex-end;
	flex-basis: 60px;
	width: 100%;
}

.header .menu {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	background-color: #F3F4F6;
	border-radius: 5px;
	padding: 1px;
}