.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}

.app .content {
  display: flex;
  justify-content: space-between;
  gap: 56px;
}
